<div class="container mt-5">
  <h1 class="mb-4">Places</h1>
  <div class="col-md-8">
    <div class="mb-3">
    <a href="/places/new" class="btn btn-primary btn-lg">New Place</a>
  </div>
  
  <% for place in @places %>
    <div class="mb-3">
      <div class="card">
        <div class="card-body">
          <!-- Layout adjusted for a vertical list -->
          <h5 class="card-title">
            <a href="/places/<%= place["id"] %>" class="stretched-link"><%= place["name"] %></a>
          </h5>
        </div>
      </div>
    </div>
  <% end %>
</div>